.departmentscreen__subtitle {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-size: 24px;
    border-bottom: 1px solid #fff;
}

#light .departmentscreen__subtitle {
    border-bottom: 1px solid #F0FFF0;
 }