.departmentscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 140px);
    height: 100vh;
    padding: 70px 70px 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s ease-out;
}

#light .departmentscreen {
    background-color: #F0FFF0;
    color: #2F4F4F;
}

#dark .departmentscreen {
    background-color: #202020;
}