.profile {
    padding: 77px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
        padding-top: 233px;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        padding-top: 68px;
        padding-bottom: 42px;
    }
}