.profile__input {
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    color: #fff;
    text-align: right;
}

.profile__input:focus {
    outline: none;
    background-color: #2f2f2f;
}

.profile__input::placeholder {
    color: #fff;
    text-align: right;
}

#light .profile__input {
    color:#2F4F4F;
 }

 #light .profile__input:focus {
    outline: none;
    background-color: #C0C0C0;
}