.root {
   min-height: calc(100vh);
   z-index: 2;
   position: relative;
}

#light {
   background-color: #F0FFF0;
   color:#2F4F4F;
}

#dark {
   background-color: #202020;
   color: #fff;
}

html {
   scroll-behavior: smooth;
}