.navigation__switch {
    position: absolute;
    top: 12px;
    right: 210px;
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
}

#light .navigation__switch label {
    color: #000;
}

#dark .navigation__switch label {
    color: #fff;
}