.searchform__input {
   width: 95%;
   padding: 16px 20px;
   background-color: #2f2f2f;
   border: 0;
   border-radius: 8px;
   color: #fff;
}

.searchform__input::placeholder {
   font-family: 'Inter', Arial, sans-serif;
   font-style: normal;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   color: #8B8B8B;
}

.searchform__input:focus {
   outline: 1px solid #6666FF;
}