.searchform__input {
   width: 95%;
   padding: 16px 20px;
   background-color: #2f2f2f;
   border: 0;
   border-radius: 8px;
   color: #fff;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.searchform__input::placeholder {
   font-family: 'Inter', Arial, sans-serif;
   font-style: normal;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   color: #8B8B8B;
}

.searchform__input:focus {
   outline: 1px solid #6666FF;
}

#light .searchform__input {
   background-color: #ffbe98;
   color: #2F4F4F;
}

#light .searchform__input:focus {
   outline: 1px solid #DC143C;
}