.toolscard__item_green {
    padding: 3px 8px;
    background-color: #00FF66;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
}

#light .toolscard__item_green {
    color:#2F4F4F;
    background-color: #00FF7F;
 }