.toolscard__item_red {
    background-color: #ec4343;
    padding: 3px 8px;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
}

#light .toolscard__item_red {
    color:#2F4F4F;
    background-color: #FF6347;
 }