.toolscard__list {
    padding: 5px 0 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
}

#light .toolscard__list {
    border-top: 1px solid #F0FFF0;
}